@tailwind utilities;

@layer utilities {
  .custom-cluster-wrapper {
    @apply bg-transparent border-none;
  }

  .custom-cluster {
    color: white;
    font: bold;
    border-color: white;
    @apply bg-[#da47ff] rounded-full w-[50px] h-[50px] flex justify-center items-center  border-2 shadow-[0_0_10px_rgba(0,0,0,0.3)];
  }

  /* elementos  */
  .custom-icon-wrp {
    @apply relative w-[300px] h-[200px] bg-transparent border-none overflow-hidden outline-none;
  }
  .markersPoint {
    @apply absolute w-[35px] h-[35px] rotate-[-45deg] rounded-[50%_50%_50%_0] text-center;
    /* transform: translate(-50%, -100%); */
    /* Centers the pin's bottom point */
    /* width: 35px;
    height: 35px; */
    /* border-radius: 50% 50% 50% 0; */
    /* Creates the teardrop shape */
    /* transform: rotate(-45deg); */
    /* Rotates to point downwards */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    color: white;
    border-color: black;
    border: 1px solid;
  }
  .markersPoint::after {
    @apply absolute text-center rotate-[45deg];

    width: 8px;
    height: 8px;
    /* background-color: white; */
    border-radius: 50%; /* Creates the inner circle of the pin */
    font-weight: 700;
  }

  .energy_store {
    /* 06dc86 */
    @apply bg-[#dc1b06];
  }
  .energy_store::after {
    content: 'S';
    top: 50%;
    left: 50%;
    padding-right: 43px;
    padding-top: 8px;
  }

  .skateshop {
    background-color: #dc06bc;
  }

  .skateshop::after {
    content: 'Sk8';
    padding-right: 10px;
    padding-top: 7px;
  }

  .boutique {
    background-color: hsl(300, 5%, 4%);
  }

  .boutique::after {
    content: 'B';
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    padding-right: 43px;
    padding-top: 8px;
  }
  .wear_store {
    background-color: hsl(189, 80%, 31%);
  }

  .wear_store::after {
    content: 'W';
    top: 47%;
    left: 45%;
    padding-right: 43px;
    padding-top: 8px;
  }
}
