.custom-cluster-wrapper {
  background-color: transparent;
  border: none;
}

.custom-cluster {
  background-color: #da47ff;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.custom-icon-wrapped {
  position: relative; /* Allows absolute positioning of the pin within */
  /* width: 300px;
  height: 200px; */
  width: 300px;
  height: 200px;
  background-color: #e0e0e0; /* Simulates a map background */
  border: 1px solid #ccc;
  overflow: hidden; /* Ensures pin stays within container if positioned outside */
  background: transparent;
  outline-style: none;
  border: none;
}

.custom {
  position: absolute;
  transform: translate(-50%, -100%); /* Centers the pin's bottom point */
  width: 35px;
  height: 35px;
  background-color: #dc062d;
  border-radius: 50% 50% 50% 0; /* Creates the teardrop shape */
  transform: rotate(-45deg); /* Rotates to point downwards */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: white;
  border-color: black;
  border: 1px solid;
}

.custom::after {
  content: 'S';
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  /* background-color: white; */
  transform: rotate(45deg);
  border-radius: 50%; /* Creates the inner circle of the pin */
  padding-right: 43px;
  padding-top: 8px;
  font-weight: 700;
}
